@import './base.css';
//$main-color: #14b8a6;

.pt-15 {
  padding-top: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.m-20 {
  margin: 20px;
}

.w-100 {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0em;
}

#app {
  width: 100%;
  height: 100%;
  #loading {
    cursor: not-allowed;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(255 255 255 / 34%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-menu {
    .ant-menu-item,
    .ant-menu-submenu,
    .ant-menu-submenu-title {
      border-radius: 0;
    }
  }
  .ant-card {
    border-radius: 2px;
  }
  .ant-input {
    border-radius: 2px;
  }
  .ant-form-item {
    margin-bottom: 12px;
  }
  //.ant-menu-item-selected {
  //  background-color: $main-color !important;
  //}
  .ant-btn {
    border-radius: 2px;
  }
  //.ant-btn-primary:not(:disabled) {
  //  background-color: $main-color;
  //  color: #ffffff;
  //}
  //.ant-btn-default:not(:disabled):hover {
  //  color: $main-color;
  //  border-color: $main-color;
  //}
  .pl-0 {
    padding-left: 0;
  }
  //.ant-btn-link:not(:disabled) {
  //  color: $main-color;
  //}
}
